html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }



  .box{
    background-color: transparent;
  }

  #words li {
    margin-bottom: 50px;
    /* display: block !important; */
    /* width: 100%; */
    line-break: loose;
    margin-left: 30px;
  }

  #modalText{
    color:white;
    background-color: black;
    font-size: 3rem;
  }

  .modal-background{
    background-color: (10,10,10,1)
  }

  